body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

/*.el-header{*/
/*  width: 1200px;*/
/*}*/
input, select, textarea {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: #4a4a4a;
}

/* 修改element-ui原有样式的方式1，在全局app组件中修改 */
/*.el-form-item__content{*/
/*  width: 60px;*/
/*}*/


.el-pagination{
  text-align: center;
  padding-bottom: 10px;
}


img{
  width: 100%;
}

.el-icon-minus,.el-icon-plus{
 	font-size: 12px;
}
.el-carousel--horizontal{
  margin-top:80px;
}
